@{
    Layout = null;
}
@model FW.Web.Framework.UI.Menu.SiteMapNode
@if (null != Model && Model.Children.Any())
{
    <ul class="nav navbar-nav">
        @ShowMenu(Model.Children.Where(x => !"right".Equals(x.Position, StringComparison.OrdinalIgnoreCase)))
    </ul>
    <ul class="nav navbar-nav navbar-right">
        @ShowMenu(Model.Children.Where(x => "right".Equals(x.Position, StringComparison.OrdinalIgnoreCase)))
    </ul>
}

@helper ShowMenu(IEnumerable<FW.Web.Framework.UI.Menu.SiteMapNode> list)
{
    foreach (var item in list)
    {
        string url = item.Url;
        if (string.IsNullOrWhiteSpace(url))
        {
            if (!string.IsNullOrWhiteSpace(item.Action) && !string.IsNullOrWhiteSpace(item.Controller))
            {
                url = Url.Action(item.Action, item.Controller);
            }
        }

        if (item.Children.Count > 0)
        {
            <li class="dropdown">
                <a href="@url" title="@item.Description" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    @if (!string.IsNullOrWhiteSpace(item.Icon))
                    {
                        <i class="@(item.Icon)"></i>
                    }
                    @item.Title
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    @ShowMenu(item.Children)
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="@url" title="@item.Description">
                    @if (!string.IsNullOrWhiteSpace(item.Icon))
                    {
                        <i class="@(item.Icon)"></i>
                    }
                    @item.Title
                </a>
            </li>
        }
    }
}
