@{
    Html.AddResource("~/Scripts/jquery-1.11.2.min.js", ResourcePriority.High);

    Html.AddResource("~/Content/bootstrap.min.css", ResourcePriority.High);
    Html.AddResource("~/Content/bootstrap-theme.min.css", ResourcePriority.High);
    Html.AddResource("~/Scripts/bootstrap.min.js", ResourcePriority.High);
    Html.AddResource("~/Scripts/bootstrap-hover-dropdown.js");

    Html.AddResource("~/Content/font-awesome.min.css", ResourcePriority.High);
    Html.AddResource("~/AreaAdmin/Content/style.css", ResourcePriority.High);
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Html.GenerateResources(this.Url, ResourceLocation.Head)
</head>
<body>
    @Html.Partial("_Navigation")
    @RenderBody()
    @Html.Partial("_Footer")
    @Html.GenerateResources(this.Url, ResourceLocation.Footer)
</body>
</html>
