@{
    Layout = null;
}
@model LocalizedResourceModel

<div class="form-group">
    @Html.FWLabelFor(x => x.LanguageId)
    @Html.DropDownListFor(x => x.LanguageId,
                            Model.GetLanguages().Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }),
                            new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.FWLabelFor(x => x.ResourceKey)
    @Html.TextBoxFor(x => x.ResourceKey, new { @class = "form-control" })
    <div class="has-error">
        @Html.ValidationMessageFor(x => x.ResourceKey, string.Empty, new { @class = "help-block" })
    </div>
</div>
<div class="form-group ">
    @Html.FWLabelFor(x => x.ResourceValue)
    @Html.TextBoxFor(x => x.ResourceValue, new { @class = "form-control" })
    <span class="has-error">
        @Html.ValidationMessageFor(x => x.ResourceValue, string.Empty, new { @class = "help-block" })
    </span>

</div>
