@{
    ViewBag.Title = T("Admin.LocalizedResource.Add");
    ViewBag.PageTitle = T("Admin.LocalizedResource.Add");
    Layout = "~/Administrator/Views/Shared/_PanelLayout.cshtml";
}
@model LocalizedResourceModel

@section OperationLeft
{
    <a href="@Url.Action("Index")" class="btn btn-link" title="@T("Admin.Common.Back")"><i class="fa fa-chevron-left"></i></a>
}

@section OperationRight
{
    <input type="submit" class="btn btn-default" name="save" value="@T("Admin.Common.Save")" title="@T("Admin.Common.Save")" />
    <input type="submit" class="btn btn-default" name="save-continue" value="@T("Admin.Common.SaveContinue")" title="@T("Admin.Common.SaveContinue")" />
}

@using (Html.BeginForm("Add", "LocalizedResource", FormMethod.Post, new { @class = "col-md-4" }))
{
    @Html.Partial("_AddOrEdit", Model)
}

@section Script
{
    <script type="text/javascript">
        $(function () {
            $(document).delegate("input[type='submit']", "click", function () {
                SubmitSaveContinue({ form: $('form'), btn: $(this) });

                return false;
            });
        });
    </script>
}