@{
    ViewBag.Title = "Index";
    Layout = "~/Administrator/Views/Shared/_PanelLayout.cshtml";
}
@using FW.Web.Framework.UI

@section Operation
{
    @*<input type="button" class="btn btn-default" value="Default" />
        <input type="button" class="btn btn-primary" value="Primary" />
        <input type="button" class="btn btn-success" value="Success" />
        <input type="button" class="btn btn-info" value="Info" />
        <input type="button" class="btn btn-warning" value="Warning" />
        <input type="button" class="btn btn-danger" value="Danger" />*@
}


<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">@TabHome()</div>
    <div role="tabpanel" class="tab-pane" id="profile">@TabProfile()</div>
    <div role="tabpanel" class="tab-pane" id="messages">@TabMessage()</div>
    <div role="tabpanel" class="tab-pane" id="settings">@TabSetting()</div>
</div>


@helper TabHome()
{
    @Html.Action("Table", "Common", new { area = "Administrator" })
    @Html.Action("Pagination", "Common", new { area = "Administrator", pageIndex = 1, totalRecords = 1 })
}

@helper TabProfile()
{
    <text>Profile</text>
}

@helper TabMessage()
{
    <text>Messages</text>
}

@helper TabSetting()
{
    <text>Settings</text>
}